.off-canvas-wrap, .inner-wrap, #main, .home, .home .row {
	height: 100% !important;	 	
}


.main-section  {
	height: 90%;
}

#main {
	/*overflow: auto;*/
}

.tab-bar-section .header a {
	color: #ddd !important;
}
.tab-bar-section .header a:hover {
	color: #fff !important;
}



#logo{
	height: 30px;
	margin-top: -5px;
}

.row {
	max-width: 100% !important;
}

.hub-img {
	display: block;
	height: 85%;
	 margin-left: auto;
    margin-right: auto;
}


.
.hidden{
	visibility: hidden;
}
#table {width: 100%};
.button {
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.capitalize {
	  text-transform: capitalize;
}

@media only screen and (min-width: 64.063em) {
	
	.hub-button {
		height: 80%;
	}
	.hub-button .header{
		height: 30%;
		font-size: 4.5em;
	}

	.hub-img{
		height: 50%;
	}
 } /* min-width 1025px, large screens */